<div class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()" class="search-form"> <!-- formulaire de recherche -->
    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
      <input 
        type="text" 
        class="form-control" 
        [placeholder]="placeholder()"
        formControlName="searchInput"
        autocomplete="off">
      @if (showClearButton() && searchForm.get('searchInput')?.value) { <!-- si le bouton de nettoyage est affiché -->
        <button 
          class="btn btn-outline-secondary" 
          type="button"
          (click)="clearSearch()">
          <i class="bi bi-x-lg"></i>
        </button>
      }
    </div>
  </form>
</div>